.container{
    width: 100%;
    height: 100%;
    background-color:lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.insidediv{
    width: 35%;
    height: 60%;
    background-color: rgb(25, 159, 212);;
    display: inline;
    
}
.display{
    display: flex;
    height: 20%;
    width: 333px;
    background-color: white;
    font-size: 2rem;
}

.Ac{
    background-color: rgb(25, 159, 212);
    width: 35px;
    height: 100%;
    margin-left: 109%;
    margin-top: 9px;
    font-size: 40px;
    display:grid;


    
}
#display{
    position: absolute;
}
.buttons{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    
}
.buttons .button{
    cursor:pointer;
    font-size:1.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid gray;
}
.numbers{
    background-color:black;
    color: white;
    border: 0px;
}
.numbers:hover{
    background-color:whitesmoke;
}
.operators{
    background-color:rgb(126, 122, 130);
    color:black;
    border-color:gray;
}
.operators:hover{
    background-color: rgb(159, 93, 221);
}
